/***************/
/* GENERAL CSS */
/***************/

#body_bg {
	border-bottom: 1px solid #ddd;
}
#body_left {
	background: transparent url(../images/all/fill_left.png) 0 0 repeat-y;
}
#body_right {
	background: transparent url(../images/all/fill_right.png) 100% 0 repeat-y;
}

ul.links li {
	border-left: 1px solid #d3d3d3; /* LTR */
}
.divider {
	border-left: 1px dashed #ddd; /* LTR */
}
.node.teaser {
	border-bottom: 1px dashed #ddd;
}
.submitted, .links {
	color: #3f3f3f;
}
.comment {
	border: 1px solid #d3d3d3;
}
.comment .title {
	background: transparent url(../images/all/icon-comment.png) left center no-repeat; /* LTR */
}
.messages {
	background: #eee;
	border: 1px solid #ccc;
}
.form-item label, .item-list .title {
	color: #222;
}
#site-slogan {
	color: #000;
}
#mission {
	color: #535353;
	border: solid 1px #ddd;
}
#breadcrumb, #breadcrumb a {
	color: #1e201b !important;
}
#footer, #footer a {
	color: #333;
}
#footer ul.links li {
	border-left: 1px solid #909090;
}
.by, .by a, .by a:hover {
	color: #777 !important;
}
#aggregator .feed-source {
	background: #eee;
	border: 1px solid #ccc;
}
#forum td.forum, #forum td.posts {
	background: #eee;
}
#forum td.topics, #forum td.last-reply {
	background: #ddd;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	border: 1px solid #bbb;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container.jpg) right top no-repeat; /* LTR */
}
#forum td.container .name a {
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}
#profile .profile {
	border: 1px solid #abc;
}

/* MENU & link STYLES */

ul li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
ul li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png); /* LTR */
}

#submenu a {
	border: 1px solid #ddd;
	color: #444 !important;
	background: #eee;
}
#submenu li a:hover {
	background: #dbdbdb;
}
#menu2 a {
	color: #333 !important;
}
#menu2 a:hover {
	color: #005a84 !important;
}
#footer a:hover {
	color: #005a84;
}

/* MODULE SPECIFIC STYLES */

.book-navigation .page-links {
	border-top: 1px dashed #d3d3d3;
	border-bottom: 1px dashed #d3d3d3;
}
.cart-block-title-bar .arrow-up {
	background: transparent url(../images/all/menu-up.png) no-repeat center center !important;
}
.cart-block-title-bar .arrow-down {
	background: transparent url(../images/all/menu-expanded.png) no-repeat center center !important;
}
.category-grid-products table	{
	border-top: 1px dashed #ddd !important;
	border-left: 1px dashed #ddd !important;
}
.category-grid-products td {
	border-right: 1px dashed #ddd !important;
	border-bottom: 1px dashed #ddd !important;
	background: transparent !important;
}


/****************/
/* GRAPHICS CSS */
/****************/

#top_bg {
	background: transparent url(../images/ink/fill_top.png) 0 100% repeat-x;
}
#top_left {
	background: transparent url(../images/ink/fill_top_left.png) 0 100% no-repeat;
}
#top_right {
	background: transparent url(../images/ink/fill_top_right.png) 100% 100% no-repeat;
}

h1, h2, h3 {
	color: #005a84;
}

a, a:link,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
.admin-panel .description {
	color: #005a84;
}

.block.themed-block {
	background: #fff url(../images/ink/fill_block.png) 0 100% repeat-x;
	border: 1px solid #ddd;
}


/* pure forms */

.pure-button {
	border: 1px solid #ccc;
}
.form-actions .pure-button {
}
#edit-preview.pure-button {
	background-color: #D3EDA3;
}
#edit-delete.pure-button {
	background-color: #F5AB9E;
}
.pure-button-selected,
a.pure-button-selected {
	background: #005a84;
	color: #fff;
}

/* Dropdown */

.menu-toggle {
	background: #F4F2EE;
	border: 1px solid #ccc;
	border-bottom: none;
}
.menu-toggle .bars {
	background: #777;
}

.pure-menu-heading {
	color: #005a84;
}
.pure-menu-link {
	color: #fff !important;
	background: #005a84;
}
.pure-menu-link:hover,
.pure-menu-link:focus {
	background: #407697;
}
.pure-menu-children .pure-menu-link {
	background: #457fa2;
	border-left: 1px solid #4987ab;
	border-top: 1px solid #4987ab;
	border-right: 1px solid #005a84;
	border-bottom: 1px solid #005a84;
}
.pure-menu-children a:hover,
.pure-menu-children a:focus {
	background: #3f7494;
}


@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		border: none;
		color: #005a84 !important;
		background: none;
	}
	.pure-menu-link:hover,
	.pure-menu-link:focus,
	.pure-menu-children a:hover,
	.pure-menu-children a:focus {
		background: #F4F2EE;
	}
	.menuband {
		min-height: 2.3em;
		border-bottom: 1px solid #ddd;
	}
	.pure-menu-list {
		background: #fff;
	}
}