/* Half page slider CSS */

#slider {
	position:relative;
	margin: .5em 0;
	background: none;
	background: -moz-linear-gradient(#fff,#ddd);
	background: -webkit-linear-gradient(#fff,#ddd);
	background: -o-linear-gradient(#fff,#ddd);
	background: -ms-linear-gradient(#fff,#ddd);
	background: linear-gradient(#fff,#ddd);
}
#slider a:active,
#slider a:hover {
	outline: none;
	text-decoration: none;
}
.slides {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
#slider .slides > li {
	display: none;
	position: relative;
	margin: 0;
}
#slider .slides li:first-child {
	display: list-item;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.flex-control-nav {
	position:absolute;
	right: 5%;
	bottom: 5%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.flex-control-nav li {
	display: inline-block;
	margin: 0 0 0 1em; /* LTR */
	float: left; /* LTR */
}
[dir="rtl"] .flex-control-nav li {
	margin: 0 1em 0 0;
	float: right;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	display: block;
	width:1.7em;
	height:1.7em;
	line-height: 1.7em;
	font-weight: bold;
	color: #333;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	box-shadow: 0 0 3px #999;
	border-radius: 100%;
	border-bottom: none;
}
.flex-control-nav li a.active,
.flex-control-nav li a:hover {
	background: #bbb;
}
#slider .post {
	padding: 1% 2% 2% 2%;
	margin: 0;
}
#slider .entry-container {
	float: right;
	width: 50%;
	padding-bottom: 4em;
}
#slider .slide-image {
	width: 49%;
	padding: .5%;
	background: #E9E9E9;
	object-fit: cover;
}
#slider .entry-header,
#slider .entry-summary {
	margin: 0 0 0 5%;
}
#slider .entry-title{
	margin-bottom: 1.2em;
	font-weight: bold;
	font-size: 1.3em;
}


/*** MEDIA SCREENS (35.5, 48 & 64em) ***/

@media screen and (max-width: 64em) {
	#slider {
		margin: 0;
		border: none;
	}
	#slider, #slider a {
		color: #fff;
	}
	#slider .post {
		padding: 0;
	}
	#slider .entry-container {
		position: absolute;
		width: 100%;
		padding-bottom: 0;
	}
	#slider .entry-header,
	#slider .entry-summary {
		margin: 0 0 2em;
	}
	#slider .entry-title a {
		display: inline-block;
		padding: 1% 3%;
		background: rgba(0, 0, 0, 0.5);
	}
	#slider .entry-summary {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		line-clamp: 4;
		-webkit-box-orient: vertical;
	}
	#slider .slide-image {
		float: none;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 48em) {
	#slider .entry-summary {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

@media screen and (max-width: 35.5em) {
	#slider .slide-image { height: 15em; }
}
