/* style-zero.css, v5.08 2024/02/22
 *
 * ZERO POINT responsive theme for Drupal 7
 * Dr. Florian Radut, florian@radut.net
 */

body {
	margin: 0;
	padding: 0;
	/*line-height: 1.25em;*/ /* Radut */
	color: #535353;
	background: #fff; /* Radut */
}

/* Font size */
.fs0 { font-size: 1em; } /* Radut */
.fs1 { font-size: 1.1em; }
.fs2 { font-size: 1.2em; }

/* MARKUP FREE CLEARING */
.clearfix {
	min-height: 0;
}

/* MAIN LAYOUT */

#pgwp {
	position: relative;
}
.sizer0 {
	margin: 0 auto;
}
#middlecontainer, #sidebar-left, #sidebar-right {
	margin: 10px;
}
#main {
	margin: 7px 10px;
}
#top_right, #body_right {
	padding: 0 25px;
}

h1, h2 {
	padding-bottom: .3em;
	margin: .6em 0;
}
h3, h4, h5, h6 {
	margin: .9em 0 0 0;
}
h1 {
	font-size: 1.6em;
	line-height: normal;
}
h2, h3.block-title, .block-title { font-size: 1.3em; font-weight: bold; }
h3 { font-size: 1.1em; }
h4, h5, h6 { font-size: 1em; }

p {
	margin-top: .5em;
	margin-bottom: .9em;
}
a {text-decoration: none;}
a:hover, a:focus {text-decoration: underline;}
fieldset {
	border: 1px solid #ccc;
}
pre {
	background: #eee;
	padding: .75em 1.5em;
	border: 1px solid #ddd;
}
table {
	width: 100%;
}
th, td {
	padding: .3em;
}
.links {
	margin: 0;
	clear: both;
}
.comment .links {
	margin-bottom: 0;
}
ul {
	list-style-position: inside;
}
ul.links {
	padding: 0;
}
ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 4px;
}
ul.links li.first, ul.links li.taxonomy-term-reference-0 {
	border: none;
}
ul.primary {
	white-space: normal;
}
#help {
	font-size: .9em;
	margin-bottom: 1em;
}
.error {
	border-color: red !important;
}
.title, .title a {
	margin: 0 auto;
}
.block {
	padding-bottom: .75em;
	margin-bottom: .5em;
}
.block .title {
	padding: 0;
	margin: 0 0 .25em 0;
}
.block title a {
	font-weight: bold;
}
.block .content {
	padding: 0;
	margin: 0;
}
.block ul {
	padding: 0 .6em;
}
.themed-block {
	padding: 5px;
	margin-bottom: 15px;
}
.themed-block .title {
	padding: 6px;
	/*text-transform: uppercase;*/
}
.themed-block .content {
	padding: 6px;
}
.sections .block {
	margin: 15px 20px;
}
.sections .themed-block {
	margin: 15px 10px 0;
}
.field-name-body ul {
	padding: 0 1.6em;
}
.field-type-taxonomy-term-reference {
	clear: both;
	margin: .3em 0;
}
#header .block-search .pure-form input[type="text"] {
	padding: .2em .4em;
	width: 9em;
	float: none;
}
#header #search-block-form input[type=image].pure-button {
	width: 1.5em;
	height: 1.5em;
	margin: .4em 0 0 0;
	float: right; /* LTR */
}
#search-block-form input[type="submit"].pure-button {
	padding: .2em .4em;
}
#search-block-form input[type="text"] {
	float: left; /* LTR */
}
#search-block-form input[type=image].pure-button {
	border: none !important; /* Radut */
	box-shadow: none !important; /* Radut */
	padding: 0;
	background-color: transparent;
	width: 2em;
	height: 2em;
}
#search-block-form input[type=image].pure-button:focus, /* Radut */
#search-block-form input[type=image].pure-button:hover {
	background-image: none;
	filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(60deg) brightness(88%) contrast(112%);
}
#main h2.title a { /* front, node */
	font-size: 120%;
	line-height: normal;
	font-weight: normal;
	text-transform: none;
}
#main h1.title {	/* node */
	font-size: 160%;
	padding: 10px 0;
	font-weight: normal;
	text-transform: none;
}
.node {
	margin: .5em 0 2em 0;
}
.node.teaser {
	padding-bottom: 5px;
}
.node .content, .comment .content {
	margin: .5em 0;
}
.submitted {
	font-size: .8em;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
}
.comment .title {
	padding: 10px 0 12px 19px; /* LTR */
}
.comment .title a {
	font-weight: normal;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: .8em;
	float: right; /* LTR */
	color: red;
}
.comment-wrapper {
	padding: 25px 0;
}
.title.comments-header, .title.comment-form {
	margin: 25px 0 15px 0;
}
.node .user-picture, .comment .user-picture {
	float: right; /* LTR */
	padding: 0 0 .5em .5em; /* LTR */
}
.node-unpublished,
.comment-unpublished {
	background: #fdd !important;
}
.signature p {
	font-size: .85em;
	margin: 7px 0;
}
blockquote {
	padding: 0 0 0 .5em; /* LTR */
	border-left: 4px solid #ddd; /* LTR */
	font-style: italic;
}
.messages {
	padding: .3em;
	margin-bottom: 1em;
}
.form-item label {
	font-size: 1em;
}
#header .block, #header .content,
#footer .block {
	margin: 0;
	padding: 0;
}
.logoimg {
	float: left; /* LTR */
	padding: 15px 20px 0;
}
#name-and-slogan {
	padding: 30px 20px;
}
#site-name {
	margin: 0;
	padding: 0;
}
#site-slogan {
	font-style: italic; /* Radut */
}
p#site-name a, p#site-name a:hover,
h1#site-name a, h1#site-name a:hover {
	font-weight: normal;
	text-decoration: none;
	line-height: normal;
}
p#site-name a, p#site-name a:hover {
	font-size: 2.4em;
}
h1#site-name a, h1#site-name a:hover {
	font-size: 1.5em;
}
#top-elements {
	float: right; /* LTR */
	text-align: right; /* LTR */
	padding: 15px;
}
#mission {
	margin-top: 10px;
	padding: 0 10px;
	font-weight: normal;
	font-size: .85em;
}
#user_links {
	padding: 10px 0;
	display: inline;
}
.breadcrumb {
	padding: 10px 20px;
	font-size: .85em;
	clear: both;
}
.breadcrumb, .breadcrumb a {
	font-weight: normal;
}
ul.breadcrumb {
	margin: 0;
}
ul.breadcrumb li {
	display: inline;
}
#section1 {
	padding: 5px 10px 0;
}
#section2 {
	padding: 0 10px 20px;
}
#main .block {
	padding-top: 10px;
}
#footer {
	text-align: center;
	font-size: .9em;
	margin: 5px 20px 0;
	min-height: 3em;
}
.by {
	position: absolute;
	bottom: 0;
	right: 0; /* LTR */
	text-align: right;
	clear: both;
	font-size: .75em;
	margin: -1em 1em;
}
.by a:hover {
	text-decoration: none;
}
#forum td {
	padding: .5em;
}
#forum td.container .name a {
	padding: 10px 0 10px 40px; /* LTR */
}
#forum td .name a {
	font-weight: bold;
}
.block-forum h3 {
	margin-bottom: .5em;
}
.in-maintenance #main {
	width: 85%;
	margin: 50px auto;
}
.book-navigation ul.menu {
	clear: both;
	margin: 0;
	padding: 1em 2em;
	border: none;
}
.page-admin th,
.page-admin td {
	padding: .1em .3em;
}
.himg #headimg {
	border-bottom: 1px solid #eee;
}


/* MODULE SPECIFIC STYLES */

.panel-col-top .node .content {
	background-image: none;
}
.block-image .content {
	text-align: center;
	padding: 0 !important;
	background: none !important;
}
.mceContentBody {
	background: #eee !important;
}
.mceContentBody a:link {
	font-weight: normal;
}
.view .view-comments-recent .views-field-subject {
	font-weight: bold;
}
.view .views-admin-links li {
	background: transparent !important;
}
.block-gmaplocation .content {
	text-align: center;
}
.block-gmaplocation a.active {
	background-image: none !important;
	padding: 0 !important;
}
li.topic_reply {
	list-style-type: none;
}
.sitemap-box h2, .byy {
	display: none;
}
.pane-content h2.title a {
	font-size: 1.4em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 0 0 1em; /* LTR */
}


/* pure forms */

.pure-button, .form-item {
	margin: .2em;
}
.pure-form select {
	padding: .4em .7em;
}
#header .form-text, #header .pure-button {
	display: inline-block;
}
#header .form-text {
	margin: .3em 0;
}
.pure-form input, .pure-form select {
	max-width: 100%;
}


/* pager */

.item-list .pager li {
	padding: 0;
	margin: 0 -0.15em;
}
.pure-paginator li a {
	margin: 0;
}
.pure-paginator .pure-button {
	border-radius: 0;
	border: 0 !important;
}
.pure-paginator a {
	text-decoration: none;
}
.block .content ul.pager {
	padding: 10px 0 0 0;
}


/* MENU & link STYLES */

.ml .pure-menu-horizontal, .ml #submenu {
	text-align: left;
}
.mc .pure-menu-horizontal, .mc #submenu, #menu2 {
	text-align: center;
}
.mr .pure-menu-horizontal, .mr #submenu {
	text-align: right;
}

#submenu {
	padding: 1px 20px;
}
#submenu li {
	border: none;
	padding: 2px 0;
}
#submenu a {
	display: inline-block;
	padding: 2px 5px;
}
#submenu li a:hover, #menu2 a:hover, #footer a:hover {
	text-decoration: none;
}

/* Dropdown */

.menu-wrapper {
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 90;
}
.pure-menu-heading {
	padding: .4em 0 0 0;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none !important;
	text-transform: none;
	white-space: normal;
	float: left; /* LTR */
	display: none;
}
.menu-toggle {
	width: 2.3em;
	height: 2.3em;
	float: right; /* LTR */
	margin: 0 10px 0 0; /* LTR */
	display: none;
}
.menu-toggle .bars {
	display: block;
	width: 1.25em;
	height: .13em;
	border-radius: 6.25em;
	position: relative;
	top: 1.2em;
	left: .5em; /* LTR */
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.menu-toggle .bars:first-child {
	top: 1.3em; /* bars' intersection correction */
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}
.menu-toggle.x .bars {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.x .bars:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.open .menu-transform {
	clear: both;
}
.pure-menu-horizontal {
	white-space: normal;
}
.pure-menu-list {
	padding: 0 18px;
}
.pure-menu-list li { /* IE7 */
	list-style: none;
}
.pure-menu-link, .pure-menu-disabled {
	padding: .4em 1.5em; /* items dimenssions */
}
.pure-menu-link {
	text-decoration: none !important;
	text-transform: uppercase;
	/*font-family: "times new roman", Verdana;*/ /* Radut */
	margin: 0 2px;
	font-weight: 500;  /* Radut */
	text-align: left; /* LTR */
}
.pure-menu-children {
	box-shadow: 5px 5px 5px #999;
}
.pure-menu-children .pure-menu-link {
	margin: 0;
}
.pure-menu-children .pure-menu-children {
	left: 100%; /* LTR */
	top: 0;
}

/* Dropdown delay */
.pure-menu-children {
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}
.pure-menu-item:hover > .pure-menu-children {
	opacity: 1;
	visibility: visible;
}

/* Dropdown arrows */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "\25BE";
	margin: 0 -.6em 0 0; /* LTR */
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25B8";
}


/* Social links */
#soclinks {
	padding: 5px;
}
#soclinks a, #soclinks a:hover, #soclinks a:focus {
	color: transparent !important;
}
#soclinks .sociallinks {
	background: url(../images/all/_sprites_social.png) no-repeat 0 99px;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
}
.sociallinks:hover {
	opacity: 0.5;
}
#soclinks .drupal { background-position: 0 0; }
#soclinks .facebook { background-position: 0 -42px; }
#soclinks .flickr { background-position: 0 -84px; }
#soclinks .googleplus { background-position: 0 -126px; }
#soclinks .instagram { background-position: 0 -168px; }
#soclinks .linkedin { background-position: 0 -210px; }
#soclinks .pinterest { background-position: 0 -252px; }
#soclinks .rss { background-position: 0 -294px; }
#soclinks .skype { background-position: 0 -336px; }
#soclinks .telegram { background-position: 0 -378px; }
#soclinks .tumblr { background-position: 0 -420px; }
/*#soclinks .twitter { background-position: 0 -462px; }*/
#soclinks .twitter { background: url(../images/all/social/twitter_xxx_32.png) no-repeat 0 0; }
#soclinks .vimeo { background-position: 0 -504px; }
#soclinks .youtube { background-position: 0 -546px; }


/* ROUNDED CORNERS */

.rnd .block.themed-block,
div.messages,
.rnd .form-actions .pure-button,
.rnd #submenu a,
.rnd #mission,
.rnd .comment,
.rnd .user-picture img,
.rnd blockquote {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.rnd .pure-menu-link,
.rnd .pure-menu-link a:hover,
.rnd .pure-menu-link a:focus {
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}
.rnd .pure-menu-children .pure-menu-link,
.rnd .pure-menu-children .pure-menu-link a:hover,
.rnd .pure-menu-children .pure-menu-link a:focus {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.rnd .tabs a, .rnd .menu-toggle {
	border-radius: 5px 5px 0 0;
}
.rnd .pure-paginator .first .pure-button {
	border-radius: 6px 0px 0px 6px; /* LTR */
}
.rnd .pure-paginator .last .pure-button {
	border-radius: 0px 6px 6px 0px; /* LTR */
}


/* BLOCK ICONS */

.bi32 .block-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	margin: -5px 0 0 -5px; /* LTR */
	background: url(../images/all/_sprites_block32.png) no-repeat 0 99px;
}
.bi48 .block-icon {
	position: absolute;
	width: 48px;
	height: 48px;
	margin: -15px 0 0 -18px; /* LTR */
	background: url(../images/all/_sprites_block48.png) no-repeat 0 99px;
}
.bi32 .themed-block .title, .bi48 .themed-block .title {
	text-align: right; /* LTR */
	padding: 6px 6px 6px 28px; /* LTR */
}

/*--- blog (icon_02) ---*/
.bi32 .block-blog .block-icon {	background-position: 0 -32px; }
.bi48 .block-blog .block-icon {	background-position: 0 -48px; }

/*--- image (icon_05) ---*/
.bi32 .block-image .block-icon, .bi32 .block-image_attach .block-icon,
.block-gallery_assist .block-icon { background-position: 0 -64px; }
.bi48 .block-image .block-icon, .bi48 .block-image_attach .block-icon,
.block-gallery_assist .block-icon { background-position: 0 -96px; }

/*--- comments (icon_01) ---*/
.bi32 .block-comment .block-icon, .bi32 .comments-block-icon .block-icon, .bi32 #block-views-comments_recent-block .block-icon,
.bi48 .block-comment .block-icon, .bi48 .comments-block-icon .block-icon, .bi48 #block-views-comments_recent-block .block-icon { background-position: 0 0; }

/*--- forums (icon_06) ---*/
.bi32 .block-forum .block-icon,
.bi32 #block-views-comments_recent-block .block-title { background-position: 0 -96px; }
.bi48 .block-forum .block-icon,
.bi48 #block-views-comments_recent-block .block-title { background-position: 0 -144px; }

/*--- book (icon_22) ---*/
.bi32 .block-book .block-icon { background-position: 0 -544px; }
.bi48 .block-book .block-icon { background-position: 0 -816px; }

/*--- views default (icon_07) ---*/
.bi32 .block-views .block-icon { background-position: 0 -128px; }
.bi48 .block-views .block-icon { background-position: 0 -192px; }

/*--- user login (icon_14) ---*/
.bi32 #block-user-login .block-icon { background-position: 0 -288px; }
.bi48 #block-user-login .block-icon { background-position: 0 -432px; }

/*--- user (icon_08, icon_12, icon_34) ---*/
.bi32 #block-system-navigation .block-icon,
.bi32 #block-system-user-menu .block-icon { background-position: 0 -160px; }
.bi48 #block-system-navigation .block-icon,
.bi48 #block-system-user-menu .block-icon { background-position: 0 -240px; }

.bi32 #block-system-management .block-icon { background-position: 0 -224px; }
.bi48 #block-system-management .block-icon { background-position: 0 -336px; }

.bi32 .block-shortcut .block-icon { background-position: 0 -608px; }
.bi48 .block-shortcut .block-icon { background-position: 0 -912px; }

/*--- user devel (icon_12) ---*/
.bi32 #block-menu-devel .block-icon { background-position: 0 -224px; }
.bi48 #block-menu-devel .block-icon { background-position: 0 -336px; }

/*--- user new/online (icon_19) ---*/
.bi32 #block-user-new .block-icon, .bi32 #block-user-online .block-icon { background-position: 0 -448px; }
.bi48 #block-user-new .block-icon, .bi48 #block-user-online .block-icon { background-position: 0 -672px; }

/*--- simplenews / Google groups /aggregator (icon_10) ---*/
.bi32 .block-simplenews .block-icon, .bi32 .block-google_groups .block-icon,
.bi32 .block-aggregator .block-icon { background-position: 0 -192px; }
.bi48 .block-simplenews .block-icon, .bi48 .block-google_groups .block-icon,
.bi48 .block-aggregator .block-icon { background-position: 0 -288px; }

/*--- menu / catalog (icon_13) ---*/
.bi32 .block-menu .block-icon, .bi32 .block-uc_catalog .block-icon { background-position: 0 -256px; }
.bi48 .block-menu .block-icon, .bi48 .block-uc_catalog .block-icon { background-position: 0 -384px; }

/*--- search (icon_15) ---*/
.bi32 .block-search .block-icon, .bi32 .block-google_cse .block-icon { background-position: 0 -320px; }
.bi48 .block-search .block-icon, .bi48 .block-google_cse .block-icon { background-position: 0 -480px; }

/*--- poll (icon_16) ---*/
.bi32 .block-poll .block-icon, .bi32 .block-i18npoll .block-icon { background-position: 0 -352px; }
.bi48 .block-poll .block-icon, .bi48 .block-i18npoll .block-icon { background-position: 0 -528px; }

/*--- most printed/emailed (icon_17) ---*/
.bi32 .block-print .block-icon, .bi32 .block-print_mail .block-icon { background-position: 0 -384px; }
.bi48 .block-print .block-icon, .bi48 .block-print_mail .block-icon { background-position: 0 -576px; }

/*--- popular content (icon_18) ---*/
.bi32 #block-node-recent .block-icon { background-position: 0 -416px; }
.bi48 #block-node-recent .block-icon { background-position: 0 -624px; }

/*--- locale (icon_20) ---*/
.bi32 .block-locale .block-icon { background-position: 0 -480px; }
.bi48 .block-locale .block-icon { background-position: 0 -720px; }

/*--- weather (icon_21) ---*/
.bi32 .block-weather .block-icon { background-position: 0 -512px; }
.bi48 .block-weather .block-icon { background-position: 0 -768px; }

/*--- shopping cart (icon_33) ---*/
.bi32 .block-uc_cart .block-icon { background-position: 0 -576px; }
.bi48 .block-uc_cart .block-icon { background-position: 0 -864px; }

.bi32 .cart-block-icon-empty, .bi32 .cart-block-icon-full,
.bi48 .cart-block-icon-empty, .bi48 .cart-block-icon-full {
	background: none;
	margin: 0;
	width: 0;
}


/* PAGE ICONS */

.book_printer img, .book_mail img, .book_pdf img {
	display: none;
}
.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 0 0 5px; /* LTR */
	padding: 0 0 0 24px; /* LTR */
}
.pi .book_printer {
	background: url(../images/all/icons/printer.png) no-repeat 4px center; /* LTR */
}
.pi .book_mail {
	background: url(../images/all/icons/email.png) no-repeat 4px center; /* LTR */
}
.pi .book_pdf {
	background: url(../images/all/icons/pdf.png) no-repeat 4px center; /* LTR */
}
.pi .field-type-taxonomy-term-reference {
	background: url(../images/all/icons/tag.png) no-repeat left top; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../images/all/icons/check.png) no-repeat right center; /* LTR */
	padding-right: 20px; /* LTR */
}
.region-sidebar-first .block-title a.active , .region-sidebar-second .block-title a.active	{
	background: none;
	padding: 0;
}
.pi li.comment-approve a {
	background: url(../images/all/icons/check.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-add a {
	background: url(../images/all/icons/comment.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-comments a {
	background: url(../images/all/icons/comments.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-delete a {
	background: url(../images/all/icons/trash.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-edit a {
	background: url(../images/all/icons/edit.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-reply a {
	background: url(../images/all/icons/reply.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .book_add_child a {
	background: url(../images/all/icons/page-add.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .node-readmore a {
	background: url(../images/all/icons/read_more.png) no-repeat left center; /* LTR */
	padding: 0 0 0 17px; /* LTR */
}
.pi .more-link a {
	background: url(../images/all/icons/more.png) no-repeat left -1px; /* LTR */
	padding: 0 0 0 20px; /* LTR */
	font-size: .8em;
}
.pi li.uin, .pi li.uout, .pi li.ulog, .pi li.ureg {
	border: none;
	margin: 0 5px;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../images/all/icons/user_green.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../images/all/icons/key_delete.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../images/all/icons/key_add.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ureg {
	background: url(../images/all/icons/user-multiple.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}


/* media screens (35.5 & 48 em) */

@media screen and (max-width: 64em) {
	#top_right, #body_right, #sidebar-left, #sidebar-right, #section1, #section2, #main {
		padding: 0;
		margin: 0;
	}
	#top_left, #top_right, #top_bg, #body_left, #body_right, #middlecontainer {
		background: none !important;
		border: none;
	}
	.himg #headimg, #headimg {
		border: none;
	}
	.himg #headimg {
		background-position: 100% 0;
	}
	.sections .block, .sections .themed-block {
		margin: 10px;
	}
	#top-elements {
		padding: 10px;
	}
	.breadcrumb {
		padding: 0 10px;
	}
	#submenu {
		padding: 1px 10px;
	}
	.divider {
		border: none !important;
	}
	.ml #submenu, .mr #submenu {
		text-align: center;
	}
	.nb1 #section1, .nb2 #section2, .nbl #sidebar-left, .nbr #sidebar-right, 
	.pure-menu-horizontal, .logoimg, .by, #name-and-slogan {
		display: none;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		display: block;
		position: relative;
		left: 0; /* LTR */
		padding: 0 0 0 1em; /* LTR */
	}
	.pure-menu-has-children > .pure-menu-link:after,
	.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
		content: "\25BE" !important;
	}
	.pure-menu-children {
		box-shadow: none !important;
	}
	.pure-menu-heading, .menu-toggle {
		display: block;
	}
	.logomob {
		float: left; /* LTR */
		margin: -0.4em .3em 0 0; /* LTR */
		height: 1.75em;
	}
	.pure-menu-list {
		padding: 0 10px;
	}
	.pure-menu-link {
		margin: 0;
		border-top: 1px solid #eee !important;
	}
	.rnd .pure-menu-link, .rnd .pure-menu-link a:hover,	.rnd .pure-menu-link a:focus {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
