/**************/
/* THEMER CSS */
/**************/

/* The below lines only help the theme to look better :)*/

ul.links li {
	border-left: 1px solid #d3d3d3; /* LTR */
}
.divider {
	border-left: 1px dashed #ddd; /* LTR */
}

/* MENU & link STYLES */

#submenu a {
	border: 1px solid #ddd;
	color: #444 !important;
	background: #eee;
}
#submenu li a:hover {
	background: #dbdbdb;
}
#menu2 a {
	color: #333 !important;
}
#menu2 a:hover {
	color: #999 !important;
}
#footer a:hover {
	color: #999;
}
.by, .by a, .by a:hover {
	color: #777 !important;
}

/* Dropdown */

.menu-toggle {
	background: #ddd !important;
}
.menu-toggle .bars {
	background: #777;
}

.pure-menu-heading {
	color: #777;
}
.pure-menu-link {
	background: #fff;
	border: 1px solid #eee;
}


@media screen and (max-width: 48em) {
	.menuband {
		min-height: 2.3em;
		background: #eee;
	}
}